/* 🌈 Theme Button Styles
 *
 * This stylesheet contains styles for the theme toggle button.
 * The button is fixed at the bottom-right corner of the screen 
 * to allow users to switch between themes.
 *
 * - .themeBtn: Positioned fixed button for toggling themes
 */

 .themeBtn {
    position: fixed;
    right: 6px;
    bottom: 80px;
    z-index: 98;
}
